body {
    margin: 0;
}

.container {
    padding: 4% 6%;
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg, #cf91ff, #95c0ff);
    color: #fff;
}

.container h1 {
    font-weight: 600;
    font-size: 45px;
    display: flex;
    align-items: center;
}

.container h1 img {
    width: 60px;
}

.container button img {
    width: 24px;
    margin-right: 6px;
}

.container button {
    background: linear-gradient(#9418fd, #571094);
    color: #fff;
    display: flex;
    align-items: center;
    font-size: 16px;
    outline: 0;
    border: 0;
    border-radius: 40px;
    padding: 10px 16px;
    margin: 15px 0;
    cursor: pointer;
}

.input-box {
    position: relative;
    width: 340px;
    background-color: white;
    padding: 20px;
    margin: 20px 0;
    outline: none;
    border-radius: 5px;
    min-height: 120px;
    color: #333;
    font-size: 18px;
}

.input-box img {
    width: 25px;
    position: absolute;
    bottom: 15px;
    right: 15px;
    cursor: pointer;
}